/* @fontsource/fira-code — latin-ext-400.css */
/* fira-code-latin-ext-400-normal */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/fira-code-latin-ext-400-normal.woff2) format('woff2');
}

/* @fontsource/fira-code — latin-400.css */
/* fira-code-latin-400-normal */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/fira-code-latin-400-normal.woff2) format('woff2');
}

/* @fontsource/fira-code — latin-ext-700.css */
/* fira-code-latin-ext-700-normal */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/fira-code-latin-ext-700-normal.woff2) format('woff2');
}

/* @fontsource/fira-code — latin-700.css */
/* fira-code-latin-700-normal */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/fira-code-latin-700-normal.woff2) format('woff2');
}
