/* @fontsource/ubuntu-mono — latin-ext-400.css */
/* ubuntu-mono-latin-ext-400-normal */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/ubuntu-mono-latin-ext-400-normal.woff2) format('woff2');
}

/* @fontsource/ubuntu-mono — latin-400.css */
/* ubuntu-mono-latin-400-normal */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/ubuntu-mono-latin-400-normal.woff2) format('woff2');
}

/* @fontsource/ubuntu-mono — latin-ext-700.css */
/* ubuntu-mono-latin-ext-700-normal */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/ubuntu-mono-latin-ext-700-normal.woff2) format('woff2');
}

/* @fontsource/ubuntu-mono — latin-700.css */
/* ubuntu-mono-latin-700-normal */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/ubuntu-mono-latin-700-normal.woff2) format('woff2');
}
